
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DM+Serif+Text&family=Epilogue:wght@400;700;800;900&family=Raleway:wght@500&display=swap');

html {
    background: rgb(250, 249, 249);
    font-family: 'DM Serif Display', serif;
font-family: 'DM Serif Text', serif;
font-family: 'Epilogue', sans-serif;
font-family: 'Raleway', sans-serif;
  }

.dropdown{
  margin: 0 auto;
  padding-top: 20px;
  }

  
  .logo{
      padding-left: 25px;
  }

  nav ul{
    padding:0;
    margin: 0;
    float: right;
    margin-right: 250px;
    
  }

  nav ul li{
    position: relative;
    list-style: none;
    display: inline-block;
  }

  nav ul li a{
    display: block;
    padding: 0 15px;
    color: black;
    text-decoration: none;
    line-height: 10px;
    font-size: 15px;
    
  }

  #link{
    border: 5px white solid;
    background-color: white;
  }

  nav ul li a:hover{
    background: white;

  }

  nav ul ul{
    position: absolute;
    top: 60px;
    display: none;
  }

  nav ul li:hover > ul{
    display: block;
  }
  
  nav ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
  }

  .boxes {
    display: flex;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
    justify-content: center;
  }
  
  #free {
    color: black;
    border: 1px white solid;
    border-radius: 20px;
    font-size: small;
    padding: 10px;
    background-color: white;
    margin-left: 250px;
    width: 120px;
    
  }

  #freee {
    color: black;
    border: 1px black solid;
    border-radius: 10px;
    font-size: small;
    padding: 10px;
    background-color: white;
    margin-left: 20px;
    width: 120px;
    
  }

  #freed {
    color: white;
    border: 2px black solid;
    border-radius: 10px;
    font-size: medium;
    padding: 15px;
    background-color: black;
    margin-top: 30px;
  }

  #freed:hover{
    background: rgb(211, 209, 209);
    
  }
  
  #fast {
    padding-top: 30px;
    margin-left: 15px;
  }
  
  .hero {
    display: flex;
    padding-left: 100px;
    margin-top: 55px;
  }
  #text {
    font-weight: 900;
    font-size: xx-large;
    font-family: 'DM Serif Display', serif;
    font-family: 'DM Serif Text', serif;
    font-family: 'Epilogue', sans-serif;
    font-family: 'Raleway', sans-serif; 
  }
  
  #text2 {
    font-weight: 400;
    margin-top: 15px;
    
  }
  
  .pic {
    margin-left: 200px;
  }
  
  .group{
    margin-top: 60px;
  }
  
  @media screen and (max-width: 600px) {
    #text {
      font-size: 500px;
    }
  
    .nav {
      display: flex;
      flex-direction: column;
    }
  
    .boxes {
      font-size: medium;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }
  